/* Highlight settings */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--color7) !important;
  background: var(--background) !important;
}

.hljs-comment,
.hljs-quote {
  color: var(--color8) !important; /* color of comments */
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--color4) !important;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--color5) !important;
}

.hljs-string,
.hljs-doctag {
  color: var(--color1) !important;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--color3) !important; /* Color of function title */
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--color2) !important; /* Color of class title */
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  font-weight: normal;
  color: var(--color6) !important; /* Color of XML/HTML tags */
}

.hljs-regexp,
.hljs-link {
  color: var(--color9) !important;
}

.hljs-symbol,
.hljs-bullet {
  color: var(--color10) !important;
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--color12) !important;
}

.hljs-meta {
  color: var(--color8) !important; /* Color of meta tags */
  font-weight: bold;
}

.hljs-deletion {
  background: var(--color3);
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.katex-html {
  color: var(--color6);
}
